@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Montserrat.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@layer base {
    html {
        font-family: Monserrat;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }

    p,
    a {
        @apply text-base;
    }

    table tbody tr:hover {
        @apply bg-gray-100
    }

    .dark table tbody tr:hover {
        @apply bg-gray-700
    }
}

@layer components {
    main.landing-page section:not(:first-of-type) {
        @apply flex flex-col p-6 md:p-16 min-h-screen
    }

    main.landing-page section:not(:first-of-type) {
        @apply odd:bg-white even:bg-slate-50
    }

    main.landing-page section h2 {
        @apply uppercase relative font-semibold text-3xl bg-clip-text bg-gradient-to-r from-amber-400 to-amber-600 tracking-widest;
        -webkit-text-fill-color: transparent;
    }

    /* main.landing-page section h2::after {
        content: '';
        @apply absolute -top-2 left-0 bg-amber-500 h-1 w-full
    } */

    .table__container {
        @apply relative overflow-x-auto mt-5
    }

    .table {
        @apply w-full text-sm text-left text-gray-500
    }

    .dark .table {
        @apply text-gray-400
    }

    .table thead {
        @apply text-xs text-gray-700 uppercase bg-gray-50
    }

    .table thead tr th {
        @apply px-6 py-3 !important
    }

    .table tbody tr th {
        @apply text-amber-500
    }

    .table tbody tr>* {
        @apply px-6 py-4 !important
    }

    .table tbody tr {
        @apply bg-white border-b
    }

    .dark .table tbody tr {
        @apply bg-gray-800 border-gray-700
    }

    .dark .table thead {
        @apply bg-gray-700 text-gray-400
    }

    .form label {
        @apply text-gray-800;
    }

    .dark .form label {
        @apply text-white;
    }

    .modal {
        @apply fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto
    }

    .modal__backdrop {
        @apply relative w-full h-full max-w-2xl
    }

    .modal__content {
        @apply relative bg-white rounded-lg shadow
    }

    .modal__header {
        @apply flex items-start justify-between p-4 border-b rounded-t
    }

    .modal__close {
        @apply text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white
    }

    .dark .modal__header {
        @apply border-gray-600
    }

    .modal__body {
        @apply p-6 space-y-2
    }

    .modal__footer {
        @apply flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b
    }

    .dark .modal__footer {
        @apply border-gray-600
    }

    .dark .modal__content {
        @apply bg-gray-700
    }

    .modal__close-button {
        @apply text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white
    }

    /* Button Component */

    .btn {
        @apply bg-gray-800 text-white font-medium rounded text-base px-4 py-1.5 transition-all
    }

    .dark .btn {
        @apply bg-white text-gray-800
    }

    .btn.btn--transparent {
        @apply bg-transparent pointer-events-none
    }

    .btn.btn--white {
        @apply bg-white text-gray-800
    }

    .btn.btn--white:hover {
        @apply bg-white
    }

    .btn.btn--green {
        @apply bg-green-500 text-white
    }

    .btn.btn--green:hover {
        @apply bg-green-600
    }

    .btn.btn--blue {
        @apply bg-blue-500 text-white
    }

    .btn.btn--blue:hover {
        @apply bg-blue-600
    }

    .btn.btn--amber {
        @apply bg-amber-500 text-white
    }

    .btn.btn--amber:hover {
        @apply bg-amber-600
    }

    .btn.btn--red {
        @apply bg-red-500 text-white
    }

    .btn.btn--red:hover {
        @apply bg-red-600
    }

    .btn.btn--gray {
        @apply bg-gray-500 text-white
    }

    .btn.btn--gray:hover {
        @apply bg-gray-600
    }

    .btn--outline-white,
    .dark .btn--outline-white {
        @apply bg-transparent border border-white text-white
    }

    .btn--outline-white:hover,
    .dark .btn--outline-white:hover {
        @apply bg-white transition border-transparent text-gray-800
    }

    .btn--outline-red,
    .dark .btn--outline-red {
        @apply bg-transparent border border-red-500 text-red-500
    }

    .btn--outline-red:hover,
    .dark .btn--outline-red:hover {
        @apply bg-red-500 transition border-transparent text-white
    }

    .btn--outline-cyan,
    .dark .btn--outline-cyan {
        @apply bg-transparent border border-cyan-500 text-cyan-500
    }

    .btn--outline-cyan:hover,
    .dark .btn--outline-cyan:hover {
        @apply bg-cyan-500 transition border-transparent text-white
    }

    .btn--outline-amber,
    .dark .btn--outline-amber {
        @apply bg-transparent border border-amber-500 text-amber-500
    }

    .btn--outline-amber:hover,
    .dark .btn--outline-amber:hover {
        @apply bg-amber-500 transition border-transparent text-white
    }

    .btn--outline-blue,
    .dark .btn--outline-blue {
        @apply bg-transparent border border-blue-500 text-blue-500
    }

    .btn--outline-blue:hover,
    .dark .btn--outline-blue:hover {
        @apply bg-blue-500 transition border-transparent text-white
    }

    .btn--outline-green,
    .dark .btn--outline-green {
        @apply bg-transparent border border-green-500 text-green-500
    }

    .btn--outline-green:hover,
    .dark .btn--outline-green:hover {
        @apply bg-green-500 transition border-transparent text-white
    }

    /* Input Component */

    .input {
        @apply rounded border bg-gray-50 border-gray-300 text-gray-900 text-sm block w-full p-2.5
    }

    .input:focus {
        @apply ring-blue-500 border-blue-500;
    }

    hr.vr {
        @apply w-0.5 h-10 bg-gray-400 mx-2;
    }

    .dashboard__main {
        @apply w-full min-h-screen flex
    }

    .dashboard__sidebar-menu {
        @apply my-5 flex flex-col gap-3;
    }

    .dashboard__sidebar-header {
        @apply text-gray-400;
    }

    .dashboard__sidebar-item {
        @apply py-3 px-2 rounded flex gap-5 text-gray-800 transition font-medium;
    }

    .dark .dashboard__sidebar-item {
        @apply text-white;
    }

    .dashboard__sidebar-item:hover {
        @apply text-amber-500;
    }

    .dashboard__sidebar-item.active {
        @apply text-white bg-zinc-800;
    }

    .dark .dashboard__sidebar-item.active {
        @apply bg-gray-200 text-gray-800;
    }

    .dashboard__sidebar-item.active i {
        @apply text-amber-500;
    }

    @screen md {
        .modal {
            @apply inset-0 h-[calc(100%-1rem)] h-full
        }

        .modal__backdrop {
            @apply h-auto
        }
    }
}

@layer utilities {

    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    ::-webkit-scrollbar-track {
        /* background: #6b7280; */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #6b7280;
        border-radius: 100vh;
        /* border: 1px solid #fff; */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #9ca3af;
    }
}

/* Dashboard Subcontent (Sidebar Toggle) */


.dashboard__content {
    @apply w-full flex flex-col
}

.dashboard__subcontent {
    @apply p-4 sm:ml-64
}

.dashboard__subcontent-show {
    @apply ml-16 !important
}

/* Dashboard Sidebar (Sidebar Toggle) */
.dashboard__sidebar-main {
    @apply fixed top-0 left-0 w-64 z-40 h-screen transition-transform -translate-x-full sm:translate-x-0
}

.dashboard__sidebar-main.hidden {
    @apply w-16 !important
}

/* Flipable Card */
.flip-card {
    @apply bg-transparent w-80 h-[28rem];
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
    @apply relative w-full h-full text-center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    @apply absolute w-full h-full rounded-t rounded-b;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    @apply shadow-lg text-gray-800 rounded-t rounded-b flex flex-1 flex-col justify-around
}

.flip-card-front h3 {
    @apply text-2xl text-end ml-auto -mt-20 z-10 relative text-white px-2
}

.flip-card-front h3 span {
    @apply box-decoration-clone	p-1
}

.flip-card-image {
    @apply h-44 w-full bg-cover mix-blend-screen z-20 relative rounded-t;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
}

.flip-card-feature {
    @apply mt-20 flex flex-col items-center mb-16
}

.flip-card-feature li {
    @apply py-2 w-9/12
}

.flip-card-feature li:not(:last-of-type) {
    @apply border-b-2 border-gray-200
}

.flip-card-back {
    @apply bg-gray-800 text-white flex flex-1 flex-col items-center justify-center shadow-lg;
    transform: rotateY(180deg);
}

.flip-card-back p {
    @apply text-2xl
}

.flip-card-back h6 {
    @apply text-4xl font-light my-5
}

.flip-card-back h6 span {
    @apply text-xl font-light my-5
}


.flip-card-back a {
    @apply block btn bg-white text-gray-800 rounded-full w-6/12 mt-4 hover:scale-110 active:translate-y-2 transition-all;
}

#landing-page-biaya-sd .flip-card-image,
#landing-page-biaya-sd h3 span {
    background-image: linear-gradient(to right bottom, rgba(239, 68, 68, 0.9), rgba(31, 41, 55, .5)), url('../image/landing_page_biaya_sd.jpg');
}

#landing-page-biaya-sd .flip-card-back {
    background-image: linear-gradient(to right bottom, rgba(239, 68, 68, 0.9), rgba(31, 41, 55, .8));
}

#landing-page-biaya-smp .flip-card-image,
#landing-page-biaya-smp h3 span {
    background-image: linear-gradient(to right bottom, rgba(14, 164, 233, 0.5), rgba(31, 41, 55, .5)), url('../image/landing_page_biaya_smp.jpg');
}

#landing-page-biaya-smp .flip-card-back {
    background-image: linear-gradient(to right bottom, rgba(14, 164, 233, 0.5), rgba(31, 41, 55, .8));
}

#landing-page-biaya-sma .flip-card-image,
#landing-page-biaya-sma h3 span {
    background-image: linear-gradient(to right bottom, rgba(107, 114, 128, 0.5), rgba(31, 41, 55, .5)), url('../image/landing_page_biaya_sma.jpg');
}

#landing-page-biaya-sma .flip-card-back {
    background-image: linear-gradient(to right bottom, rgba(107, 114, 128, 0.5), rgba(31, 41, 55, .8));
}

/* Loading Screen */
#loading-screen {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
}

/* Override Selectize Search (Dashboard Navbar) */
.selectize-search.selectize-control .selectize-input:after {
    display: none;
}

.selectize-search .selectize-input input {
    @apply text-gray-500
}

.dark .selectize-search .selectize-input input {
    @apply text-white
}

.selectize-search .selectize-dropdown {
    border-radius: 0;
}

.selectize-search .single.selectize-dropdown {
    padding: 0;
}

.selectize-search .selectize-dropdown .selectize-dropdown-content {
    background-color: white;
}

/* Override Selectize */
.selectize-input {
    border: 0;
    padding: 0;
    font-size: inherit;
    box-shadow: none !important;
    background: none !important;
}

/* Override DataTable */
.dataTables_wrapper {
    @apply mb-5
}

.dark .dataTables_wrapper {
    @apply text-white
}

.dataTables_wrapper>* {
    @apply my-6
}

.dataTable.no-footer {
    @apply border-0 !important
}

.dataTables_paginate .paginate_button {
    @apply border-0 !important
}

.dataTables_paginate .paginate_button:not(.previous):not(.next) {
    @apply bg-gray-200 text-gray-700 border-0 !important
}

.dataTables_paginate .paginate_button:not(.previous):not(.next):hover {
    @apply bg-none bg-gray-500 text-white !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    @apply text-gray-400 !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    @apply text-gray-400 !important
}


.dataTables_paginate .previous:not(.disabled):hover,
.dataTables_paginate .next:not(.disabled):hover {
    @apply bg-none border-0 bg-gray-500 !important
}

.dataTables_wrapper select {
    @apply pl-2 pr-7 !important
}

.dark .dataTables_wrapper select option {
    @apply text-gray-800
}

/* Override Datatable SearchPane*/
div[class*="panesContainer"] div[class*="searchPane"] div[class*="searchCont"] input {
    @apply pl-3 !important
}

.dark div[class*="panesContainer"] div[class*="titleRow"] button:not(:disabled):hover {
    @apply bg-gray-500
}

.dark div[class*="panesContainer"] div[class*="searchPane"] div[class*="topRow"]:hover {
    @apply border-transparent bg-transparent
}

.dark div[class*="panesContainer"] .dataTables_scroll .dataTables_scrollBody {
    @apply bg-transparent !important
}

.dark div[class*="panesContainer"] input::placeholder {
    @apply text-white
}