@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Montserrat.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@layer base {
    html {
        font-family: Monserrat;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }

    p,
    a {
        @apply text-base;
    }

    table tbody tr:hover {
        @apply bg-gray-100
    }

    .dark table tbody tr:hover {
        @apply bg-gray-700
    }
}

@layer components {
    .landing-page {
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../image/landing_page.jpg');
        background-size: cover;
    }

    .table__container {
        @apply relative overflow-x-auto mt-5
    }

    .table {
        @apply w-full text-sm text-left text-gray-500
    }

    .dark .table {
        @apply text-gray-400
    }

    .table thead {
        @apply text-xs text-gray-700 uppercase bg-gray-50
    }

    .table thead tr th {
        @apply px-6 py-3 !important
    }

    .table tbody tr th {
        @apply text-amber-500
    }

    .table tbody tr>* {
        @apply px-6 py-4 !important
    }

    .table tbody tr {
        @apply bg-white border-b
    }

    .dark .table tbody tr {
        @apply bg-gray-800 border-gray-700
    }

    .dark .table thead {
        @apply bg-gray-700 text-gray-400
    }

    .form label {
        @apply text-gray-800;
    }

    .dark .form label {
        @apply text-white;
    }

    .modal {
        @apply fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto
    }

    .modal__backdrop {
        @apply relative w-full h-full max-w-2xl
    }

    .modal__content {
        @apply relative bg-white rounded-lg shadow
    }

    .modal__header {
        @apply flex items-start justify-between p-4 border-b rounded-t
    }

    .dark .modal__header {
        @apply border-gray-600
    }

    .modal__body {
        @apply p-6 space-y-2
    }

    .modal__footer {
        @apply flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b
    }

    .dark .modal__footer {
        @apply border-gray-600
    }

    .dark .modal__content {
        @apply bg-gray-700
    }

    /* Button Component */

    .btn {
        @apply bg-gray-800 text-white font-medium rounded text-base px-4 py-1.5
    }

    .dark .btn {
        @apply bg-white text-gray-800
    }

    .btn.btn--blue {
        @apply bg-blue-500 text-white
    }

    .btn.btn--blue:hover {
        @apply bg-blue-600
    }

    .btn--outline-red,
    .dark .btn--outline-red {
        @apply bg-transparent border border-red-500 text-red-500
    }

    .btn--outline-red:hover,
    .dark .btn--outline-red:hover {
        @apply bg-red-500 transition border-transparent text-white
    }

    .btn--outline-cyan,
    .dark .btn--outline-cyan {
        @apply bg-transparent border border-cyan-500 text-cyan-500
    }

    .btn--outline-cyan:hover,
    .dark .btn--outline-cyan:hover {
        @apply bg-cyan-500 transition border-transparent text-white
    }

    .btn--outline-amber,
    .dark .btn--outline-amber {
        @apply bg-transparent border border-amber-500 text-amber-500
    }

    .btn--outline-amber:hover,
    .dark .btn--outline-amber:hover {
        @apply bg-amber-500 transition border-transparent text-white
    }

    .btn--outline-blue,
    .dark .btn--outline-blue {
        @apply bg-transparent border border-blue-500 text-blue-500
    }

    .btn--outline-blue:hover,
    .dark .btn--outline-blue:hover {
        @apply bg-blue-500 transition border-transparent text-white
    }

    .btn--outline-green,
    .dark .btn--outline-green {
        @apply bg-transparent border border-green-500 text-green-500
    }

    .btn--outline-green:hover,
    .dark .btn--outline-green:hover {
        @apply bg-green-500 transition border-transparent text-white
    }

    /* Input Component */

    .input {
        @apply rounded border bg-gray-50 border-gray-300 text-gray-900 text-sm block w-full p-2.5
    }

    .input:focus {
        @apply ring-blue-500 border-blue-500;
    }

    hr.vr {
        @apply w-0.5 h-12 bg-gray-400 mx-3;
    }

    .dashboard__sidebar-menu {
        @apply my-5 flex flex-col gap-3;
    }

    .dashboard__sidebar-header {
        @apply text-gray-400;
    }

    .dashboard__sidebar-item {
        @apply py-3 px-8 rounded flex gap-2 text-gray-800 transition font-medium;
    }

    .dark .dashboard__sidebar-item {
        @apply text-white;
    }

    .dashboard__sidebar-item:hover {
        @apply text-amber-500;
    }

    .dashboard__sidebar-item.active {
        @apply text-white bg-zinc-800;
    }

    .dark .dashboard__sidebar-item.active {
        @apply bg-gray-200 text-gray-800;
    }

    .dashboard__sidebar-item.active i {
        @apply text-amber-500;
    }

    @screen md {
        .modal {
            @apply inset-0 h-[calc(100%-1rem)] h-full
        }

        .modal__backdrop {
            @apply h-auto
        }
    }
}

@layer utilities {

    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    ::-webkit-scrollbar-track {
        /* background: #6b7280; */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #6b7280;
        border-radius: 100vh;
        /* border: 1px solid #fff; */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #9ca3af;
    }
}

/* Override Selectize */
.selectize-input {
    border: 0;
    padding: 0;
    font-size: inherit;
    box-shadow: none !important;
    background: none !important;
}

/* Override DataTable */
.dataTables_wrapper {
    @apply mb-5
}

.dark .dataTables_wrapper {
    @apply text-white
}

.dataTables_wrapper>* {
    @apply my-6
}

.dataTable.no-footer {
    @apply border-0 !important
}

.dataTables_paginate .paginate_button {
    @apply border-0 !important
}

.dataTables_paginate .paginate_button:not(.previous):not(.next) {
    @apply bg-gray-200 text-gray-700 border-0 !important
}

.dataTables_paginate .paginate_button:not(.previous):not(.next):hover {
    @apply bg-none bg-gray-500 text-white !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    @apply text-gray-400 !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    @apply text-gray-400 !important
}


.dataTables_paginate .previous:not(.disabled):hover,
.dataTables_paginate .next:not(.disabled):hover {
    @apply bg-none border-0 bg-gray-500 !important
}

.dataTables_wrapper select {
    @apply pl-2 pr-7 !important
}

.dark .dataTables_wrapper select option {
    @apply text-gray-800
}